{% extends "index.html" %}

{% block content %}
    {% if word %}
    <div class="results">
    <h2>Results for "{{ word }}"</h2>
    
    {% if meanings %}
    <h3>Meanings:</h3>
    <ul>
        {% for meaning in meanings %}
        <li>{{ meaning }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No meanings found.</p>
    {% endif %}
    
    <h3>Synonyms:</h3>
    {% if synonyms %}
    <p>{{ synonyms|join:", " }}</p>
    {% else %}
    <p>No synonyms found.</p>
    {% endif %}
    
    <h3>Antonyms:</h3>
    {% if antonyms %}
    <p>{{ antonyms|join:", " }}</p>
    {% else %}
    <p>No antonyms found.</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}